@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.button {
  background: $color-teal;
  border-radius: $secondary-border-radius;
  border: 0.2rem solid $color-teal;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size-16;
  margin-right: 0.5rem;
  padding: 0.6rem 1.4rem;
  text-transform: uppercase;
  transition: 0.5s;
  &:hover:enabled,
  &:focus:enabled {
    background: $color-white;
    color: $color-teal;
  }

  &:active:enabled {
    background: $color-teal;
  }

  &:disabled {
    background: $color-slate-gray;
    border: 0.2rem solid $color-slate-gray;
  }
  &--border-only {
    background-color: $color-transparent;
    border: 0.2rem solid $color-teal;
    color: $color-teal;
    margin-bottom: 0.5rem;

    &:focus,
    &:active {
      color: $color-white;
    }
  }

  &--pagination {
    background-color: $color-white;
    border: 0.2rem solid $color-teal;

    color: $color-teal;
    display: inline-block;
    font-weight: $heavy-weight;
    height: 3.2rem;
    margin-right: 1.6rem;
    padding: 0;
    place-items: center;
    width: 3.2rem;

    .chevron-left,
    .chevron-right {
      height: 1.2rem;
      width: 0.6rem;
    }

    &:focus,
    &:hover {
      background-color: $color-teal;
      color: $color-white;

      .chevron-left path,
      .chevron-right path {
        fill: $color-white;
      }
    }
  }

  &--with-icon {
    display: inline-flex;

    .action-icon {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    }

    &:focus,
    &:hover {
      .action-icon path {
        fill: $color-teal;
      }
    }
  }

  &--icon-x {
    background: none;
    border: none;
    line-height: 0;
    padding: 0.2rem;
    position: absolute;
    right: 0.5rem;
    top: 3.5rem;

    &:hover,
    &:focus,
    &:active {
      background: none;
    }
  }

  &--form {
    width: 100%;
  }
}
