@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.form {
  padding: 2rem;
  width: 100%;

  fieldset {
    border: 0;
    margin-bottom: 2.5rem;
  }
  input {
    border: 1px solid $color-gull-gray;
    border-radius: $secondary-border-radius;
    color: $color-fiord;
    margin-top: 0.3rem;
    outline: none;
    padding: 1.5rem;

    &:focus {
      border: 1px solid $color-fiord;
      outline: none;
    }

    &::placeholder {
      color: $color-iron;
      font-size: $font-size-14;
    }
  }

  &__header {
    padding-bottom: 2.5rem;
    font-size: $font-size-16;
  }

  &__content {
    font-size: $font-size-14;
    font-weight: $medium-weight;
    line-height: 1.43;

    color: $color-gull-gray;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    text-transform: uppercase;

    @include respond-to-mobile() {
      display: block;
    }

    &__item {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
    }
  }
  &__error-msg {
    color: $color-danger;
    text-transform: uppercase;
    margin-top: 0.7rem;
    font-weight: $heavy-weight;
    text-align: center;
    font-size: $font-size-12;
  }
}
