@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.UserCard {
  border-bottom: 1px solid $color-silver;
  color: $color-text;
  display: flex;
  flex-flow: row wrap;
  font-size: $font-size-16;
  justify-content: space-around;
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
  width: 100%;
  
  img {
    border-radius: 50%;
    margin-right: 1rem;
    height: 5rem;
    width: 5rem;
    @include respond-to-mobile() {
      height: 5.5rem;
      width: 5.5rem;
      display: block;
      margin: 0 auto;
    }
  }

  &__name {
    width: 33%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    @include respond-to-mobile() {
      width: 100%;
      text-align: justify;
      display: inline-block;

      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      p {
        margin: 10px auto 0;
      }
    }
  }

  &__image {
    width: 4rem;
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.8rem 0.4rem;
  }

  &__email {
    width: 33%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    @include respond-to-mobile() {
      width: 100%;
      text-align: justify;

      p {
        margin: 10px auto 0;
      }
    }
  }

  &__actions{
    width: 33%;
    text-align: center;
    display: initial;
    @include respond-to-mobile() {
      width: 100%;
      margin-top: 1.2rem;
    }
  }

}

.DeleteMessage {
  display: block;
  text-align: center;
  p {
    font-size: $font-size-14;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: $medium-weight;
  }
}


