@charset "utf-8";

@import "base/base";
@import 'mixins/mixins';

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: $font-size-reset;

    @include respond-to-mobile() {
        font-size: $font-size-reset-md;
    }

    @include respond-to(350, max) {
        font-size: $font-size-reset-sm;
    }
}

body {
    font-family: $font-family, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &:focus-visible {
        outline: $base-outline;
    }

    &:focus:not(:focus-visible) {
        outline: 0;
    }
}