@import "../styles/base/base";

.dashboard {

    &__header{
        background-color: $color-primary;
        color: $color-white;
        font-size: $font-size-20;
        height: 5.2rem;
        padding: 0.5rem;
        text-align: center;
        
        h1{
            font-weight: $light-weight;
        }
    }

    &__content {
        padding: 2.6rem;
      }
}