@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

$_overlay-color: rgba(0, 0, 0, 0.5);

.overlay {
    @include animation('fadeIn 0.8s');

    align-items: center;
    background-color: $_overlay-color;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-above;
}

.modal {
    @include custom-scrollbar;

    align-items: start;
    background-color: $color-white;
    border-radius: $base-border-radius;
    box-shadow: $card-shadow;
    left: 50%;
    margin: auto;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5rem 3rem 4rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-above;

    &__button-container {
        align-items: center;
        background: $color-white;
        background: linear-gradient(180deg, $color-white 50%, transparent 100%);
        display: flex;
        height: 6rem;
        justify-content: flex-end;
        margin-left: -1rem;
        margin-top: -2.5rem;
        position: sticky;
        top: 0;
        width: 110%;
        z-index: $z-index-above;

        button {
            position: static;

            path {
                stroke: $color-slate-gray;
            }

            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
    }
}
