@import "../../styles/base/base";
@import "../../styles/mixins/mixins";

.UserList {
  border-radius: $base-border-radius;
  box-shadow: $card-shadow;
  margin: 0.4rem auto 0;

  &__titles {
    border-bottom: 1px solid $color-silver;
    border-radius: 0.8rem 0.8rem 0 0;
    color: $color-text-secondary;
    font-size: $font-size-18;

    padding: 1.2rem 1.5rem;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    span {
      width: 33%;
      text-align: left;
    }
    span:last-child {
      text-align: center;
    }

    span:not(:first-child) {
      @include respond-to-mobile {
        display: none;
      }
    }

    span:first-child{
      @include respond-to-mobile {
        text-align: center;
      }
    }
  }

  &__pagination {
    height: 6rem;
    padding: 1.2rem 1.5rem;
    text-align: center;
  }

  &__action {
    padding: 1.2rem;
    border-bottom: 1px solid $color-silver;
  }
}
