@import "colors";
@import "typography";

//z-index values
$z-index-base: 1;
$z-index-header: 8;
$z-index-above: 10;
$z-index-behind: -1;
$z-index-hidden: -1000;

//element outlines
$base-border-radius: 0.8rem;
$secondary-border-radius: 0.5rem;
$card-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25);
$base-outline: 0.2rem solid $color-midnight;


$font-size-reset-md: 60%;
$font-size-reset-sm: 55%;
