// Basic Colors
$color-black: #000;
$color-white: #fff;
$color-transparent: transparent;

// Main colors
$color-primary: #29A0B1;
$color-secondary: #261744;
$color-text: #001836;
$color-text-secondary: #3e5067;
$color-success: #7bf1a8;
$color-danger: #ff6e75;


//Color palette
$color-fiord: #3e5067;
$color-midnight: #001836;
$color-slate-gray: #6a7889;
$color-silver: #c4c4c4;
$color-gull-gray: #94a3ad;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-porcelain: #edeff1;
$color-light-porcelain: #f6f7f8;
$color-mint: #DDFFE7;
$color-spearmint: #98D7C2;
$color-teal-green: #167D7F;
$color-bondi-blue: #00AEAE;
$color-teal: #29A0B1;


