$font-family: "Roboto";

// Weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$heavy-weight: 900;

// Font-import
@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $light-weight;
    src: url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $regular-weight;
    src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
        url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $medium-weight;
    src: url('../../assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Medium.woff') format('woff'),
        url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $bold-weight;
    src: url('../../assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $heavy-weight;
    src: url('../../assets/fonts/Roboto-Heavy.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Heavy.woff') format('woff'),
        url('../../assets/fonts/Roboto-Heavy.ttf') format('truetype');
}

// Font Sizes

$font-size-reset: 62.5%;
// $font-size-reset-mobile: 45%;
$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-32: 3.2rem;
$font-size-36: 3.6rem;
$font-size-48: 4.8rem;
$font-size-100: 10rem;